.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:absolute;
    background: #f2f2f2;
    width: 35%;
    height: 180px;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    .close-button{
        font-weight: 500;
        padding: 8px 20px;
        text-decoration: none;
        color: #46e1b5;
        background-color: #f2f2f2;
        border: 2px solid #46e1b5;
        margin: 20px ;
        border-radius: 5px;
        margin-top: 5px;
    }
  }
.display-none {
    display: none;
}
.display-block {
    display: block;
}